<div class="torrentsStatusPage container-fluid">
   <div class="row-fluid clearfix">
	     <h1 class="page-header">Torrents Status</h1>
	 </div>

  <div class="row-fluid search-results clearfix ng-cloak" role="tabpanel">
    <tabset>
      <tab heading="Downloading" active="true">
          <torrents-elements torrents="torrents" filter-state="DOWNLOADING,PAUSED" />
      </tab>
      <tab heading="Awaiting download">
        <torrents-elements torrents="torrents" filter-state="AWAITING_DOWNLOAD" />
      </tab>
      <tab heading="Processing">
        <torrents-elements torrents="torrents" filter-state="DOWNLOAD_COMPLETED,RENAMING,RENAMING_COMPLETED,FETCHING_SUBTITLES" />
      </tab>
      <tab heading="Completed">
        <torrents-elements torrents="torrents" filter-state="COMPLETED" />
      </tab>
      <tab heading="Failed">
        <torrents-elements torrents="torrents" filter-state="COMPLETED_WITH_ERROR,FAILED_DOWNLOAD_ATTEMPT" />
      </tab>
    </tabset>
  </div>

</div>
