{% extends 'MorenwareDutilsBundle::base.html.twig' %}

{% block body %}

<div class="automatedSearch container-fluid" ng-module="automatedSearchModule">

  <div class="row-fluid clearfix">
      <h1 class="page-header">Automated Search</h1>
  </div>

  Content
</div>

{% endblock %}
