*.iml
/node_modules/
/vendor/
/lib/
*.lock
/bin/
/app/cache/
/app/logs/
web/client/js/init.js
web/client/js/init.js.map
.mage/logs/
/deploy/dist/
build.properties
/components/filebot/scripts/
/.vagrant/
/deploy/local/.vagrant/
/deploy/local/*.box
*.DS_Store
deploy/local/.vagrant/
deploy/local/*.box
/.idea/
.idea
*.box
