.page-header {
	margin-top: 10px;
	font-size: 28px;
}

.torrent-feeds {
    margin-top: 10px;
}

.panel-heading .btn {
    padding: 0 10px 0 10px;
}

.magnet {
	background: url("../img/magnet.png") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	display: inline-block;
  	margin: 0 auto;
}

.download-torrent {
	background: url("../img/download-file.png") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	display: inline-block;
  	margin: 0 auto;
}


.table-striped tbody tr.highlight td { background-color: red; }

.btn {
    margin-right: 4px;
}
