<div class="row-fluid">

  <div class="row-fluid clearfix torrent-state">
    <render-torrent-state torrent="torrent" />
  </div>

  <div class="row-fluid clearfix torrent-title">
   <h4 class="list-group-item-heading no-padding">[[fieldFormat('title',torrent)]]</h4>
  </div>

  <div class="row-fluid clearfix no-padding">
    <progress-bar class="col-xs-5 col-sm-6 no-padding" ng-hide="torrent.state != 'DOWNLOADING' && torrent.state != 'PAUSED'" percent="torrent.percentDone || 0" class="pull-left col-sm-4 no-padding" />
  </div>

   <div class="row-fluid no-padding clearfix">
     <div class="list-group-item-text col-sm-2 col-xs-7 no-padding">
      [[fieldFormat('date',torrent)]] &nbsp; | &nbsp; [[fieldFormat('size',torrent)]]
     </div>
   </div>

   <div class="row-fluid clearfix">
     <torrent-actions torrent="torrent" class="pull-left"/>
   </div>

</div>
