<div class="table-responsive">
   <table class="table table-striped">
       <thead>
         <tr>
             <th>#</th>
             <th ng-repeat="fieldLabel in fieldLabels track by $index" ng-bind="fieldLabel"></th>
             <th>Actions</th>
         </tr>
       </thead>
       <tbody>
           <tr ng-repeat="torrent in torrents.torrents | torrentsByState:filterState track by $index">
             <td ng-bind="offset+$index+1"></td>
             <td ng-repeat="fieldLabel in fieldLabels track by $index" ng-bind="processField(torrent,fieldLabel)"></td>
             <td>the actions</td>
           </tr>
       </tbody>
   </table>
</div>
