<!DOCTYPE html>
<!-- ng-app="dutilsApp" -->
<html ng-app="dutilsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Media Downloader Automator</title>
      	{% block stylesheets %}
          <link href="client/css/bootstrap.min.css" rel="stylesheet" />
          <link href="client/css/metis-menu.css" rel="stylesheet" />
          <link href="client/css/sb-admin-2.css" rel="stylesheet" />
          <link href="client/css/main.css" rel="stylesheet" />
          <link href="client/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
        {% endblock %}

	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <body>
       <div id="container-fluid">

		   {% include 'MorenwareDutilsBundle::nav.html.twig' %}

        <div id="page-wrapper" class="container-fluid">
      		  {% block body %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% block javascripts  %}
	    <script type="text/javascript" src="client/js/filemanager/jquery.min.js"></script>
	    <script type="text/javascript" src="client/js/filemanager/bootstrap.min.js"></script>
	    <script type="text/javascript" src="client/js/plugins/metisMenu/metisMenu.min.js"></script>
	    <script type="text/javascript" src="client/js/sb-admin-2.js"></script>
		  <script type="text/javascript" src="client/js/app/init.js"></script>
    {% endblock %}
  </body>
</html>
